<div class="container">

  <div class="row border-bottom">


    <div class="col-md-2 offset-md-5 col-6 offset-3 text-center my-2">
      <img class="img-fluid" src="assets/img/Logo-Hero.png" alt="Hero Motos">
    </div>

  </div>

</div>

<!--contain-->
<div *ngIf="lead$ | async as lead" class="container">
  <app-bike-details [lead]="lead"></app-bike-details>
</div>



  <!--Steps-->

  <div class="container">

    <div class="row">


      <div class="col-md-10 offset-md-1 my-5">
        <div class="row">
          <div class="col-md-3 text-center mb-3">

            <div class="he_step he_step_next">

              <div class="he_int   text-center">

                <span class="he_step_number text-center col-12">1</span>
                <span class="he_step_detail">descubrí tu <br>moto</span>

              </div>

            </div>

          </div>
          <div class="col-md-3 text-center mb-3">

            <div class="he_step he_step_next ">

              <div class="he_int   text-center">

                <span class="he_step_number text-center col-12">2</span>
                <span class="he_step_detail">personalizá <br>tu moto</span>

              </div>

            </div>

          </div>
          <div class="col-md-3 text-center mb-3">

            <div class="he_step  ">

              <div class="he_int   text-center">

                <span class="he_step_number text-center col-12">3</span>
                <span class="he_step_detail">financíala</span>
              </div>

            </div>

          </div>
          <div class="col-md-3 text-center mb-3">

            <div class="he_step he_step_next">

              <div class="he_int   text-center">

                <span class="he_step_number text-center col-12">4</span>
                <span class="he_step_detail">vende <br>tu usado</span>

              </div>

            </div>

          </div>


        </div>
      </div>
      <div class="col-md-1 d-none d-md-inline-flex ">
        <div class="row">
          <div class="col-12">
            <div class="he_next-btn bg-secondary text-white">
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="col-12 text-center text-dark">

              <small><b>REVISÁ TU COMPRA</b></small>

            </div>
          </div>
        </div>
      </div>





    </div>


  </div>

<!--</div>-->

<!--options-->
<div class="container-fluid he_bg_lightgray he_options">
  <div class="row p-5">

    <div class="col-12 col-md-10 offset-md-1 p-0">
      <h3 class="text-danger mb-3">ELEGÍ TU TARJETA DE CRÉDITO</h3>
      <div class="row">
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>
        <div class="text-center m-1">
                                <span class="badge badge-light p-3 shadow-sm border ">
                                        <img src="https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif">
                                    </span><br>
          <span><b>Visa</b></span>
        </div>








      </div>
    </div>


    <div class="col-12 col-md-10 offset-md-1 p-0">
      <h3 class="text-danger mb-3">ELEGÍ TU BANCO</h3>
      <div class="row">
        <div class="dropdown w-100">
          <a class="btn btn-light btn-block text-left dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Elegí Tu Banco Emisor
          </a>

          <div class="dropdown-menu  w-100" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Provencred<img src="https://www.mercadopago.com/org-img/MP3/API/logos/1005.gif" class="float-right"></a>
            <a class="dropdown-item" href="#">Banco Nacion<img src="https://www.mercadopago.com/org-img/MP3/API/logos/282.gif" class="float-right"></a>
            <a class="dropdown-item" href="#">Macro<img src="https://www.mercadopago.com/org-img/MP3/API/logos/297.gif" class="float-right"></a>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>
