@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~semantic-ui-calendar-react/dist/css/calendar.min.css";

@import 'styles/variables';
@import 'styles/fonts-classes';
@import 'styles/mainHeader';
@import 'styles/buttons';
@import 'styles/mainPageCarrousel';
@import 'styles/dashboard-cards';
@import 'styles/dashboard';
@import 'styles/summary';
@import 'styles/deliveryPage';
@import 'styles/one-column-page';
@import 'styles/footer';



.App{
  background-color: $background-page-color;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.main-container{
  background: url("./images/Degrade-dashboard.png") no-repeat center top;
  background-size: 100%;
  margin-top: -1em;
  padding-top: 1em;
  min-height: calc(100vh - 95px);
}

.margin-bottom{
  margin-bottom: 2em;
}

*:focus{
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
