<!--Header-->
<div class="container">

  <div class="row border-bottom">


    <div class="col-md-2 offset-md-5 col-6 offset-3 text-center my-2">
      <img class="img-fluid" src="assets/img/Logo-Hero.png" alt="Hero Motos">
    </div>

  </div>

</div>

<!--contain-->
<div class="container">

  <div class="row">


    <div class="col-10 offset-1 col-md-8 offset-md-2 bg-white shadow-lg p-4 mt-5 rounded">
      <div class="row">
        <div class="col-md-11 text-md-right text-center">
          <h3>RESUMEN DE TU MOTO</h3>
        </div>
        <div class="col-md-4">

          <img src="assets/img/Hunk-Sports-Argentina-.png" class="img-fluid" alt="HUNK SPORTS">


        </div>

        <div class="col-md-8">

          <table class="table he_table">
            <thead class="text-danger">
            <tr>
              <th scope="col ">HUNK SPORTS</th>
              <th scope="col" class="text-right">$52.900</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="text-secondary">Personalización</th>
              <td class="text-success">GRATIS</td>

            </tr>
            <tr>
              <th class="text-secondary">Accesorios</th>
              <td>$6.000</td>

            </tr>
            <tr>
              <th class="text-secondary">Financiación</th>
              <td>$0</td>

            </tr>
            <tr>
              <th class="text-secondary">Entrega a Domicilio</th>
              <td class="text-success">GRATIS</td>

            </tr>
            <tr class="border-bottom border-secondary">
              <th class="text-secondary">Seguro</th>
              <td>Sí</td>

            </tr>
            <tr>
              <th>
                <h3>TOTAL</h3>
              </th>
              <td>
                <h3>$58.900</h3>
              </td>

            </tr>


            </tbody>
          </table>
        </div>
      </div>



    </div>

    <div class="col-12 my-3">

      <div routerLink="/" class="col-8 offset-2 col-md-4 offset-md-4 bg-danger text-white text-center py-1 he_model_btn" style="cursor: pointer;">

        HUNK SPORTS

      </div>

    </div>


  </div>


</div>

<!--Steps-->

<div class="container">

  <div class="row">


    <div class="col-md-10 offset-md-1 my-5">
      <div class="row">



      </div>
    </div>





  </div>


</div>

<!--options-->

<div class="container-fluid he_bg_gray he_options">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="col-12 text-center my-4 ">
        <h3>Finalizá tu compra</h3>
      </div>

      <form>

        <div class="form-group">
          <label for="fullName">Nombre Completo<span class="text-danger">*</span></label>
          <input id="fullName" class="form-control" type="text" placeholder="Tu nombre completo">
        </div>

        <div class="form-group">
          <label for="phone">Teléfono<span class="text-danger">*</span></label>
          <input id="phone" class="form-control" type="number"
                 placeholder="Teléfono de linea o particular">
        </div>


        <div class="form-group">
          <label for="email">Email<span class="text-danger">*</span></label>
          <input id="email" class="form-control" type="email" placeholder="user@example.com">
        </div>

        <div class="form-group">
          <label for="cardNumber">Número de Tarjeta<span class="text-danger">*</span></label>
          <input id="cardNumber" class="form-control" type="number" placeholder="4509 9535 6623 3704">
        </div>
        <div class="form-group text-center">
          <a href="https://www.mercadopago.com.ar/ayuda/costos-financiacion_621" target="_blank"
             class="text-primary"><i class="fas fa-shield-alt"></i> Tu compra esta protegida por
            <strong>mercadopago</strong></a>
        </div>

        <div class="form-group">
          <div class="row">
            <button routerLink="/" class="rounded-pill btn btn-danger col-6 offset-3 col-md-4 mr-2 offset-md-2 mt-2 text-white " style="cursor: pointer;">Comprar</button>
            <button class="rounded-pill btn btn-secondary col-6 offset-3 col-md-4 mr-2 offset-md-0 mt-2 text-white  ">Volver</button>
          </div>


        </div>

      </form>
    </div>



  </div>


</div>
