.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .page-column-card {
    width: 100%;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .page-column-card {
    width: 100%;
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .page-column-card {
    width: 100%;
    max-width: 1170px;
  }
}

.text-center {
  text-align: center;
}

section {
  display: block;
}

h1 span.subtitle, h2 span.subtitle, h3 span.subtitle {
  display: block;
  font-size: 15px;
  padding: 0;
  margin: 10px 0 10px 0;
  line-height: 24px;
}

h1 {
  font-size: 3em;
  line-height: 44px;
  margin: 0 0 24px 0;
}

h1:last-child {
  margin: 0 0 24px 0;
}

.col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.textoheroh4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 25px;
  color: #303030;
  text-transform: none;
  padding: 5px 0 20px 20px;
  background: url('../../images/hero-arrow.png') no-repeat left top;
  line-height: 30px;
  display: block;
}

p {
  margin: 0 0 20px;
}

b, strong {
  font-weight: 700;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

audio, canvas, img, video {
  vertical-align: middle;
}

.divider {
  border: 0;
  margin: 60px 0;
  height: 4px;
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  text-align: center;
  position: relative;
  clear: both;
}

.divider .fa {
  color: #bbb;
  background: #f4f5f7;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin: 0 auto 0 -25px;
}

i.fa {
  text-decoration: none !important;
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn, .btn:hover {
  padding: 8px 18px;
  border: rgba(255,255,255,0) 2px solid;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs, .btn-xs:hover {
  padding: 3px 13px;
}

.btn-primary {
  background-color: #ee3939 !important;
}

.btn i.fa {
  padding-right: 10px;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px;
}
