<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Compraste una moto en Hero Digital</title>

  <style type="text/css">
		body{
			/*font-family:'Open Sans',sans-serif;*/
            background: #EBEBEB;
		}
		table{
			width:100%;
		}
</style></head>
  <body>
    <table>
      <tr>
        <td style="text-align:center;border-bottom:1px solid #BFBFBF;">
          <img src="<%= assets_path() %>/img/hero-logo-chico.png" height="50" style="padding: 20px" alt="Hero Digital">
        </td>
      </tr>
      <tr>
        <td>
          <h1 align="center" style="font-size:2.5em;margin-bottom:15px;">Felicitaciones</h1>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table>
            <tr>
              <td></td>
              <td width="500">
                <table style="border:1px solid #BFBFBF;border-radius:10px;">
                  <tr>
                    <td align="center" height="100" style="position:relative;">
                      <img src="<%= assets_path() %>/img/<%= String.downcase(@purchase_order.lead.motorcycle.name) %>.png" style="margin-top: 15px" alt="<%= @purchase_order.lead.motorcycle.name %>">
                    </td>
                  </tr>
                  <tr>
                    <td style="padding:10px;">
                      <p align="center" style="font-size:2em;margin:0;color:#4D4D4D;">Compraste una</p>
                      <h3 align="center" style="font-size:2.5em;margin:0;"><%= @purchase_order.lead.motorcycle.name %></h3>
                    </td>
                  </tr>
                  <%= if length(@accessories) == 0 do %>
                    <tr>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Sin Accesorios:
                      </td>
                    </tr>
                    <tr>
                      <td>
                        No elegiste ningún accesorio
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Con Accesorios:
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:10px;">
                        <table>
                          <tr>
                            <%= for accesory <- @accessories do %>
                              <td align="center">
                                <img src="<%= accesory.logo_url %>" alt="<%= accesory.name %>" width="60px" height="60px">
                              </td>
                            <% end %>
                          </tr>
                          <tr style="font-size:.8em;">
                            <%= for accesory <- @accessories do %>
                              <td align="center"><%= accesory.name %></td>
                            <% end %>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <%= if @plate_registration_data.opt_in_or_out == hero_plate_registration_type() do %>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Patentamiento con hero
                      </td>
                    <% else %>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Patentamiento por tu cuenta
                      </td>
                    <% end %>
                  </tr>
                  <%= if @insurance.opt_in_or_out == hero_insurance_type do %>
                    <tr>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Elegiste asegurarla con:
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table style="background: #ffffff; padding:10px;border-top:1px solid #BFBFBF;border-bottom:1px solid #BFBFBF;">
                          <tr>
                            <td style="padding:10px;">
                              <img src="<%= @insurance.quote_broker_logo_url %>" width="50" alt="lock@2x.png">
                            </td>
                            <td style="padding:10px;">
                              <p style="font-size:1.3em;font-weight:bold;margin:5px;"> <%= @insurance.quote_broker_name %> - <%= @insurance.quote_policy %></p>
                              <p style="margin:5px;"><strong>$ <%= @insurance.quote_price %></strong> por mes</p>
                              <!-- <p style="font-size:.8em;margin:5px;">Te protegemos contra todo lo que te imagines</p> --> 
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td>
                        Te aseguras por tu cuenta
                      </td>
                    </tr>
                  <% end %>
                  <%= if @delivery.address do %>
                    <tr>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Te la enviaremos a:
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left:65px;">
                        <img src="<%= assets_path() %>/img/casa.png" style="margin-right: 5px;"/>
                        <span><%= @delivery.address.street %></span>
                      </td>
                    </tr>
                    <tr>
                      <td height="25"></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td style="font-size:1.3em;padding:10px;">
                        <img src="<%= assets_path() %>/img/flecha.png" style="margin-left: 15px; margin-right: 5px;"/> Retiro en concesionario:
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Venís a buscar la moto a <%= @delivery.pickup_location %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td height="50"></td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
