NUEVO TRADE IN \n
Lead: <%= @lead.id %>\n
Email: <%= @trade_in.email %>\n
Nombre: <%= @trade_in.name %>\n 
Telefono: <%= @trade_in.telephone %>\n 
Localidad: <%= @trade_in.location %>\n 
Marca: <%= @trade_in.brand %>\n 
Modelo: <%= @trade_in.model %>\n 
Año: <%= @trade_in.year %>\n 
Descripción: <%= @trade_in.description %>\n 
Patente: <%= @trade_in.license_plate %>