.ui.button{
  border-radius: 50px;
  padding: .5em 2em;
  &.primary{
    background-color: $primary-color;
    &:focus{
      background-color: $primary-color;
    }
    &:hover,
    &:active{
      background-color: darken($primary-color, 15%);
    }
  }

  &.secondary{
    background-color: $med-gray;
    &:focus{
      background-color: $med-gray;
    }
    &:hover,
    &:active{
      background-color: darken($med-gray, 15%);
    }
    &.btn-outline{
      background: transparent;
      border: 2px solid $med-gray;
      color: $med-gray;
      &:focus{
        background: transparent;
        border: 2px solid $med-gray;
        color: $med-gray;
      }
      &:hover,
      &:active{
        border: 2px solid darken($med-gray, 15%);
        color: darken($med-gray, 15%);
      }
    }
  }
}

.btn-displaced-container{
  padding-bottom: 0 !important;
}
.btn-displaced{
  position: relative;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
}
