.field.text-and-images-select .ui.selection.active.dropdown .menu{
      border-color: $med-gray;
      &>.item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
  }

.ui.form{

  .square-btn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    label.square-item{
      display: inline-block;
      margin: .5em;
      text-align: center;
      max-width: 100px;
      .square-btn{
        display: inline-flex;
        width: 75px;
        background: white;
        height: 45px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 1px solid $med-gray;
        &:hover{
          border: 1px solid $dark-gray;
        }
        &.active{
          border: 2px solid $green;
          background-color: lighten($green, 40%);
        }
      }
    }
  }
}

.link.card.financing-option,
.ui.card.financing-option,
.ui.cards>.card.financing-option{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 240px;
  img{
    max-height: 50px;
    max-width: 85%;
    margin: 0 1em;
  }
  div{
    display: inline-flex;
    align-items: center;
    width: 87%;
    & > .icon{
      margin-right: .3em;
    }
    & > .icons{
      margin-right: .1em;
    }
    &.corner-ribon{
      width: auto;
    }
  }
  &.selected,
  &.selected:hover{
    border: 2px solid $green;
    background-color: lighten($green, 40%);
  }
}

.dp-inline-block{
  display: inline-block;
}
