.txt-center{
  text-align: center;
}

.txt-left{
  text-align: left;
}

.txt-right{
  text-align: right;
}

//colors

.txt-green{
  color: $green;
}

.txt-blue{
  color: $blue;
}

.txt-red{
  color: $red;
}

.txt-med-gray{
  color: $black-50;
}

.txt-dark-gray{
  color: $dark-gray;
}

.txt-white{
  color: white;
}

//weight
.fw-bold{
  font-weight: bold;
}

.fw-normal{
  font-weight: normal;
}
.italic{
  font-style: italic;
}

.uppercase{
  text-transform: uppercase;
}

//sizes

.fs-mini{
  font-size: .5em;
}
.fs-tinny{
  font-size: .6em;
}
.fs-small{
  font-size: .8em;
}
.fs-medium{
  font-size: 1em;
}
.fs-large{
  font-size: 1.2em;
}
.fs-big{
  font-size: 1.5em;
}
.fs-huge{
  font-size: 2em;
}
.fs-massive{
  font-size: 2.5em;
}
