
h1.home-title{
  text-align: center;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.7em;
  .emphasis{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
  }
}

.slick-list{
  height: 600px;
}

.slick-slider {
  //carrousel buttons
  button.slick-arrow{
    width: 36px;
    height: 36px;
    background: $dark-gray;
    border-radius: 50%;
    padding-top: 3px;
    opacity: .7;
    &::before{
      font-size: 36px;
      opacity: 1;
    }
    &:hover{
      opacity: 1;
    }
    &.slick-next{
      right: -10px;
    }
    &.slick-prev{
      left: -10px;
    }
  }

  //carrousel list of cards
  .slick-track{
    display: flex;
    align-items: center;
    
    .carrousel-item{
      transition: all .3s;
      &.card{
        width: 240px;
        text-align: center;
        margin: 1em auto 2.5em auto;
        &:first-child,
        &:last-child{
          margin: 1em auto 2.5em auto;
        }
        .bike-image{
          background-color: transparent;
          height: 160px;
          margin: auto;
        }
        .bike-name{
          font-size: $medium;
          margin: 0 0 1em 0;
          font-weight: bold;
        }
        .bike-accessories{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 1em;
          .bike-accessory{
            max-width: 25%;
            position: relative;
            text-align: center;
            &::after{
              content: '/';
              position: absolute;
              color: $med-gray;
              right: -35%;
              top: 10px;
            }
            img{
              height: 35px;
              margin: auto;
            }
            &:last-child{
              &::after{
                content: '';
              }
            }
          }
        }
        .content{
          padding: 0 1em;
          border: none;
          .price{
            font-size: $large;
            color: $med-gray;
            display: flex;
            align-items: center;
            white-space: nowrap;
            justify-content: center;
            margin: 1.5em 0 0 0;
            .price-number{
              font-size: $huge;
              font-weight: bold;
              color: black;
              margin: 0 .1em .1em .1em;
            }
          }
          .button{
            position: relative;
            bottom: -1em;
          }
        }
        .bottom-links{
          display: none;
          position: absolute;
          bottom: -60px;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
        }
      }
    }

    .slick-current{
      .carrousel-item.card{
        width: 280px;
        @extend %box-shadow;
        .bike-image{
          height: auto;
          max-width: 110%;
          width: 110%;
          margin-top: -20px;
          margin-left: -5%;
        }
        .bike-name{
          font-size: $large;
        }
        .bike-accessory img{
          height: 45px;
        }
        .price{
          .price-number{
            font-size: $massive;
          }
        }
        .button{
          font-size: 1.5em;
        }
        .bottom-links{
          display: block;
        }
      }
    }
  }
}
