.home{
  background: url("./MainPage/images/Degrade-dashboard.png") no-repeat center top;
  background-size: 100%;
  margin-top: -1em;
  padding-top: 1em;
}

h1.home-title{
  text-align: center;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.7em;
  .emphasis{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
  }
}


.carrousel-item{
  &.card{
    width: 240px;
    border-radius: 0;
    text-align: center;
    margin: 1em auto 2.5em auto;
    &:first-child,
    &:last-child{
      margin: 1em auto 2.5em auto;
    }
    .brand-image{
      border-radius: 0;
      width: 55px;
      top: -11px;
      left: 1em;
    }
    .bike-image{
      background-color: transparent;
      height: 160px;
      margin: auto;
    }
    .bike-name{
      font-size: 1em;
      margin: 0 0 1em 0;
      font-weight: bold;
    }
    .bike-accessories{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
      .bike-accessory{
        max-width: 25%;
        position: relative;
        text-align: center;
        &::after{
          content: '/';
          position: absolute;
          color: $med-gray;
          right: -35%;
          top: 10px;
        }
        img{
          height: 35px;
          margin: auto;
        }
        &:last-child{
          &::after{
            content: '';
          }
        }
      }
    }
    .content{
      padding: 0 1em;
      border: none;
      .price{
        font-size: 1.2em;
        color: $med-gray;
        display: flex;
        align-items: center;
        white-space: nowrap;
        justify-content: center;
        margin: 1.5em 0 0 0;
        .price-number{
          font-size: 2em;
          font-weight: bold;
          color: black;
          margin: 0 .1em .1em .1em;
        }
      }
      .button{
        position: relative;
        bottom: -1em;
      }
    }
  }
}
