.ui.card.page-column-card{
  width: 90%;
  max-width: 750px;
  margin: auto;
  .ui.selection.dropdown{
    border: none;
  }
  .ui.segment{
    background: $background-page-color;
    &.not-border-bottom{
      border-bottom: none;
    }
    &.white-segment{
      background-color: white;
    }
  }
  &_slim{
    max-width: 500px;
    margin-top: 7em;
    .bike-container{
      padding-top: 7em;
      border-bottom: none;
      img{
        position: absolute;
        top: -6em;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .details-container{
      padding-top: 0;
      img{
        height: 30px;
        margin-right: 1.5em;
      }
    }
    .white-segment{
      h3{
        margin-bottom: 0;
      }
    }
  }
}
