.checkoutSummary{
  margin-top: -70px;
  .summary-title{
    font-size: 1.7em;
    text-align: center;
    margin: 0;
    padding: 1em;
  }
  .ui.card>.content,
  .ui.cards>.card>.content{
    border: none;
  }
  .ui.segment.bg-backgroung_gray{
    background-color: $background-page-color;
  }
  .summary-list{
    .item{
      font-size: 1.2em;
      font-weight: bold;
      color: $dark-gray;
      .price-column{
        width: 35%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: baseline;
      }
      .icon{
        color: $med-gray;
      }
    }
    img{
      width: 50px;
    }
    .summary-list-btn-container{
      display: flex;
      align-items: center;
      .content{
        margin-right: .5em;
      }
    }
    &.horizontal{
      text-align: left;
      display: inline-flex;
      align-items: center;
    }
  }
}

.final-price{
  font-size: 1.5em;
  color: $med-gray;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  line-height: 2em;
  .final-price-number{
    font-size: 2.4em;
    font-weight: bold;
    color: black;
    margin: 0 .3em .3em .3em;
  }
}
.finnancial-bank{
  width: 90%;
  margin: auto;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &>*:not(:last-child){
    margin-right: .5em;
  }
}
