<div class="container">

  <div class="row border-bottom">


    <div class="col-md-2 offset-md-5 col-6 offset-3 text-center my-2">
      <img class="img-fluid" src="assets/img/Logo-Hero.png" alt="Hero Motos">
    </div>

  </div>

</div>
<!--fin header-->

<!--contain-->
<div *ngIf="lead$ | async as lead" class="container">

  <app-bike-details [lead]="lead"></app-bike-details>

</div>

<!--Steps-->

<div class="container">

  <div class="row">


    <div class="col-md-10 offset-md-1 my-5">
      <div class="row">
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">1</span>
              <span class="he_step_detail">descubrí tu <br>moto</span>

            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">2</span>
              <span class="he_step_detail">personalizá <br>tu moto</span>

            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">3</span>
              <span class="he_step_detail">financíala</span>
            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">4</span>
              <span class="he_step_detail">vende <br>tu usado</span>

            </div>

          </div>

        </div>


      </div>
    </div>
    <div class="col-md-1 d-none d-md-inline-flex ">
      <div class="row">
        <div class="col-12">
          <div [routerLink]="['/seguro', leadId]" class="he_next-btn bg-secondary text-white">
            <i class="fas fa-angle-right"></i>
          </div>
          <div class="col-12 text-center text-dark">

            <small><b>REVISÁ TU COMPRA</b></small>

          </div>
        </div>
      </div>
    </div>





  </div>


</div>
<!--fin steps-->

<!--options-->

<div class="container-fluid he_bg_lightgray  he_options">
  <div class="container">
    <div class="row">



      <div class="col-md-4   pt-5">

        <h4>¿QUÉ MOTO QUERÉS VENDER?</h4>
        <div class="form-group mt-3">
          <select class="form-control" id="brand">
            <option disabled selected>Marca</option>
            <option>Honda</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="brand">
            <option disabled selected>Modelo</option>
            <option>Storm</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="year">
            <option disabled selected>Año</option>
            <option>2015</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="millage">
            <option disabled selected>Kilometraje</option>
            <option>10.000 km</option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="location">
            <option disabled selected>Localidad</option>
            <option>C.A.B.A.</option>
          </select>
        </div>

        <div class="form-group mb-5">
          <input type="text" class="form-control" id="registration" placeholder="Patente">
        </div>
      </div>
      <div class="col-md-4  pt-5">


        <h4>TUS DATOS</h4>

        <div class="form-group mt-3">
          <input id="firstName" class="form-control" type="text" placeholder="Nombre">
        </div>

        <div class="form-group">
          <input id="lastName" class="form-control" type="text" placeholder="Apellido">
        </div>

        <div class="form-group">
          <input id="email" class="form-control" type="email" placeholder="Email">
        </div>

        <div class="form-group mb-5">
          <input id="phone" class="form-control" type="email" placeholder="Teléfono">
        </div>
      </div>
      <div class="col-md-4   pt-5">

        <h4>MOSTRANOS TU USADO</h4>


        <div class="custom-file  mt-2">
          <input type="file" class="custom-file-input" id="frontView">
          <label class="custom-file-label" for="customFile">Frente</label>
        </div>
        <div class="custom-file mt-3">
          <input type="file" class="custom-file-input" id="leftSide">
          <label class="custom-file-label" for="customFile">Lateral Izquierdo</label>
        </div>
        <div class="custom-file mt-3">
          <input type="file" class="custom-file-input" id="rigthSide">
          <label class="custom-file-label" for="customFile">Lateral Derecho</label>
        </div>
        <div class="custom-file mt-3">
          <input type="file" class="custom-file-input" id="backView">
          <label class="custom-file-label" for="customFile">Patrte Trasera</label>
        </div>






      </div>
      <div class="row">
        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none col-3 my-2  mr-1 ">
            <div class="row">
              <div class="col-12">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-angle-left"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>VOLVER</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none p-0 my-2  mr-1 text-center ">
            <div class="row">
              <div class="col-12 p-0 ml-2 ">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>REVISA <br> TU COMPRA</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none col-3 my-2  mr-1 ">
            <div class="row">
              <div class="col-12">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>SIGUIENTE</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>
<!--fin options-->
