<div class="container">

  <div class="row border-bottom">


    <div class="col-md-2 offset-md-5 col-6 offset-3 text-center my-2">
      <img class="img-fluid" src="assets/img/Logo-Hero.png" alt="Hero Motos">
    </div>

  </div>

</div>
<!--fin header-->

<!--contain-->
<div *ngIf="lead$ | async as lead" class="container">

  <app-bike-details [lead]="lead"></app-bike-details>

</div>

<!--Steps-->

<div class="container">

  <div class="row">

    <div class="col-md-1 d-none d-md-inline-flex">
      <div class="row">
        <div class="col-12">
          <div  [routerLink]="['/financia', leadId]" class="he_next-btn bg-secondary text-white">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="col-12 text-center text-dark">

            <small><b>VOLVER</b></small>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 my-5">
      <div class="row">
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">1</span>
              <span class="he_step_detail">descubrí tu <br>moto</span>

            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">2</span>
              <span class="he_step_detail">personalizá <br>tu moto</span>

            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step he_step_next ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">3</span>
              <span class="he_step_detail">financíala</span>
            </div>

          </div>

        </div>
        <div class="col-md-3 text-center mb-3">

          <div class="he_step ">

            <div class="he_int   text-center">

              <span class="he_step_number text-center col-12">4</span>
              <span class="he_step_detail">vende <br>tu usado</span>

            </div>

          </div>

        </div>


      </div>
    </div>
    <div class="col-md-1 d-none d-md-inline-flex ">
      <div class="row">
        <div class="col-12">
          <div [routerLink]="['/seguro', leadId]" class="he_next-btn bg-secondary text-white">
            <i class="fas fa-angle-right"></i>
          </div>
          <div class="col-12 text-center text-dark">

            <small><b>REVISÁ TU COMPRA</b></small>

          </div>
        </div>
      </div>
    </div>





  </div>


</div>
<!--fin steps-->

<!--options-->

<div class="container-fluid he_bg_lightgray  he_options">
  <form [formGroup]="sellForm" (ngSubmit)="submit()">
    <div class="container">
      <div class="row txt-center pt-5">
        <h4>TUS DATOS</h4>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <input id="fullName" class="form-control" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" type="text" placeholder="Nombre Completo">
        </div>

        <div class="form-group col-md-3">
          <input id="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" placeholder="Email">
        </div>

        <div class="form-group col-md-3">
          <input id="phone" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" type="text" placeholder="Teléfono">
        </div>

        <div class="form-group  col-md-3">
          <input id="location" class="form-control" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" type="text" placeholder="Localidad">
        </div>
      </div>

      <div class="row txt-center">
        <h4>¿QUÉ MOTO QUERÉS VENDER?</h4>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <input id="brand" class="form-control" formControlName="brand" [ngClass]="{ 'is-invalid': submitted && f.brand.errors }" type="text" placeholder="Marca">
        </div>

        <div class="form-group col-md-3">
          <input id="model" class="form-control" formControlName="model" [ngClass]="{ 'is-invalid': submitted && f.model.errors }" type="text" placeholder="Modelo">
        </div>

        <div class="form-group col-md-3">
          <input id="year" class="form-control" formControlName="year" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" type="text" placeholder="Año">
        </div>

        <div class="form-group  col-md-3">
          <input id="plate" class="form-control" formControlName="plate" [ngClass]="{ 'is-invalid': submitted && f.plate.errors }" type="text" placeholder="Patente">
        </div>
      </div>

      <input type="submit" class="rounded-pill btn btn-danger col-4 offset-4 text-white " value="Confirmar">

    </div>
  </form>
</div>

<div class="container-fluid he_bg_lightgray  he_options">
  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none col-3 my-2  mr-1 ">
            <div class="row">
              <div class="col-12">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-angle-left"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>VOLVER</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none p-0 my-2  mr-1 text-center ">
            <div class="row">
              <div class="col-12 p-0 ml-2 ">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>REVISA <br> TU COMPRA</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="col-md-1 d-inline-flex d-md-none col-3 my-2  mr-1 ">
            <div class="row">
              <div class="col-12">
                <div class="he_next-btn mt-1  bg-secondary text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
                <div class="col-12 text-center text-dark">

                  <small><b>SIGUIENTE</b></small>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>
<!--fin options-->
